{% extends 'market/home_base.html' %}

{% block content %}
    <form method="post" action="example.cgi">
      <form action="cgi-bin/abc.cgi" method="post">
	<form action="cgi-bin/example.cgi" class="word-search" method="get">

	  <p class="words">検索したいキーワードを入力してください。</p>
	  <input type="search" name="search" id="search" placeholder="キーワードを入力">
	  <input type="submit" name="submit" id="search-button" value="検索">
	</form>

	<p>

	  <input type="checkbox" name="undergraduate" value="学科" checked="checked">学科
	  <select name="undergraduate">
	    <!--value=送信される文字列-->
	    <option value="共通科目">共通科目</option>
	    <option value="外国語科目">外国語科目</option>
	    <option value="健康余暇科学科目">健康余暇科学科目</option>
	    <option value="英語英文学科">英語英文学科</option>
	    <option value="国際関係学科">国際関係学科</option>
	    <option value="数学科">数学科</option>
	    <option value="情報科学科">情報科学科</option>

	  </select>
	  <input type="checkbox" name="term" value="ターム" checked="unchecked">ターム
	  <select name="undergraduate">
	    <!--value=送信される文字列-->
	    <option value="1ターム">１ターム</option>
	    <option value="2ターム">２ターム</option>
	    <option value="3ターム">３ターム</option>
	    <option value="4ターム">４ターム</option>


	  </select>
	  <input type="checkbox" name="week" value="曜日" checked="unchecked">曜日
	  <select name="undergraduate">
	    <!--value=送信される文字列-->
	    <option value="月曜">月曜</option>
	    <option value="火曜">火曜</option>
	    <option value="水曜">水曜</option>
	    <option value="木曜">木曜</option>
	    <option value="金曜">金曜</option>

	  </select>
	  <input type="checkbox" name="period" value="時限" checked="unchecked">時限
	  <select name="period">
	    <!--value=送信される文字列-->
	    <option value="1限">１限</option>
	    <option value="2限">２限</option>
	    <option value="3限">３限</option>
	    <option value="4限">４限</option>
	    <option value="5限">５限</option>
	    <option value="6限">６限</option>

	  </select>
	  <input type="checkbox" name="level" value="学年" checked="unchecked">学年
	  <select name="level">
	    <!--value=送信される文字列-->
	    <option value="1年">１年</option>
	    <option value="2年">２年</option>
	    <option value="3年">３年</option>
	    <option value="4年">４年</option>


	  </select>
	</p>

	<a href="{% url 'photos_department' department="情報科学科" %}" class="department"><p><input type="submit" id="search-button2" value="検索する"></p></a>

      </form>

<div class="container">
{% if department %}
    <h2>カテゴリー：{{ department.title }} の検索結果</h2>
{% endif %}
{% include 'market/photos_list.html' %}
</div>
</div>
{% endblock %}
