<div class="photo-container">
{% for textbook in textbooks %}
    <div class="photo">
        <a href="{% url 'photos_department' department=textbook.department %}" class="department">{{ textbook.department }}</a>
        <div class="photo-size">
        <a href="{% url 'photos_detail' textbook.id %}">
            <h5>{{textbook.title}}</h5>
            <img src="{{ textbook.image.url }}" class="photo-img">
        </a>
        </div>
        <hr size="5" color="#F96491" >
        <div class="photo-info">
            {{textbook.lesson}}
            {{textbook.point}} 円
        </div>
        <div class="whi"></div>
    </div>
{% endfor %}
</div>
