<div class="photo-container">
{% for textbook in textbooks %}
    <div class="photo">
        <a href="{% url 'photos_department' department=textbook.department %}" class="department">{{ textbook.department }}</a>
        <a href="{% url 'photos_detail' textbook.id %}">
            <img src="{{ textbook.image.url }}" class="photo-img">
        </a>
        <div class="photo-info">
            <p>{{textbook.lesson}}</p>
            <p>{{textbook.point}} 円</p>
        </div>
    </div>
    <p></p>
{% endfor %}
</div>
