<div class="photo-container">
{% for textbook in textbooks %}
    <div class="photo">
        <a href="{% url 'photos_department' department=textbook.department %}" class="department">{{ textbook.department }}</a>
        <div class="photo-size">
        <a href="{% url 'photos_detail' textbook.id %}">
            <h5>{{textbook.title}}</h5>
            <img src="{{ textbook.image.url }}" class="photo-img">
        </a>
        </div>
        <hr size="5" color="#F96491" >
        <div class="photo-info">
            {{textbook.lesson}}
            {{textbook.point}} 円
        </div>
        <div class="whi"></div>
    </div>
{% endfor %}
<div class="pager">
    <!-- 前のページへのリンク -->
    {% if textbooks.has_previous %}
        <a href="?p={{ textbooks.previous_page_number }}">前へ</a>
    {% endif %}

    <!-- 現在のページ番号と全体のページ数 -->
    <span>
        {{ textbooks.number }} / {{ textbooks.paginator.num_pages }}
    </span>

    <!-- 次のページへのリンク -->
    {% if textbooks.has_next %}
        <a href="?p={{ textbooks.next_page_number }}">次へ</a>
    {% endif %}
</div>
</div>
