<div>
  <form action="{% url 'search' %}" method="POST" novalidate="novalidate">
      <select class="form-control search-slt">
      <option value="none">学科</option>
      {% for item in department_list %}
          <option name="selected_department" value="{{ item.department }}">{{ item.department }}</option>
      {% endfor %}
            <option name="selected_department" value="共通科目">共通科目</option>
      	    <option name="selected_department" value="外国語科目">外国語科目</option>
      	    <option name="selected_department" value="健康余暇科学科目">健康余暇科学科目</option>
      	    <option name="selected_department" value="英語英文学科">英語英文学科</option>
      	    <option name="selected_department" value="国際関係学科">国際関係学科</option>
      	    <option name="selected_department" value="数学科">数学科</option>
      	    <option name="selected_department" value="情報科学科">情報科学科</option>
      </select>

      <input type="search" class="form-control search-slt" name="freeword">
      <button type="submit" class="btn btn-danger wrn-btn">Search</button>
      {% csrf_token %}
  </form>
</div>
